 body {
    margin: 0;
    padding: 0;  
} 


.cloud {
    /* position: relative; */
    /* background-image: url(../../assets/cloud1.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* top: 0; */
    /* max-width: 100%; */
    /* background: url("../../assets/background.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 175px;
    width: 100%;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}