body {
    /* color: white;
    padding: 0;
    margin: 0; */
    /* letter-spacing: 1.3px; */
}

.social-icons:hover {
    color: red;
    /* font-size: 50px; */
}

.footer-container {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    align-items: center;
    display: flex;
    /* animation-iteration-count: 1; */
}

.rights {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12.5px;
    color: white;
}