body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}


.navbar-container {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-evenly;
    /* background-color: gray; */
}

li {
    display: flex;
}

.navbar-link {
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 15.5px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    /* font-weight: lighter; */
}

.navbar-link:hover {
    color: tomato;
}


