.navbar-container {
    letter-spacing: .4rem;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.navbar-links {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 40px;
    text-transform: uppercase;
}